<section id="hero" style="background-color: #f1efe3;">
    
            <div class="" >
                <div class="container">
                    <h2>Hey👋 Welcome to <span>Mindtree Hospital </span></h2>
                </div>
                <!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: #f1efe3;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/A%40a_Limassol_General_Hospital_Cyprus_-_panoramio.jpg/320px-A%40a_Limassol_General_Hospital_Cyprus_-_panoramio.jpg" width="525">
</body>
</html>
</div>   
</section>
